<div class="topbar">
  <div class="container">
    <div class="row">

      <div class="topbar-left col-sm-6 col-xs-12 hidden-xs">
        {% if page.topbar %}
          {{ page.topbar }}
        {% endif %}
      </div>

      <div class="topbar-right col-sm-6 col-xs-12">
        {% if page.topbar_right %}
          {{ page.topbar_right }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
