.block {
    .block-title {
        margin-top: 70px;
        span {
            font-size: $font-size-h2;
            background-color: $ssolMainBlue;
            font-weight: bold;
        }
    }
}

.block-v1 {
    .owl-carousel {
        .owl-nav {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }

            >div {
                margin-top: -70px;
                background-color: transparent !important;
                box-shadow: none;
            }

            @media(min-width: $screen-md) {
                .owl-prev {
                    transform: translateX(-60px);
                }

                .owl-next {
                    transform: translateX(55px);
                }
            }
        }
    }

    .post-title {
        a:hover {
            color: $ssolMainBlue  !important;
        }
    }

    [class^="gv-icon"],
    [class*=" gv-icon"] {
        font-family: FontAwesome !important;
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        font-size: 80px;
        color: white;
    }

    .gv-icon-165:before {
        content: "\f105";
    }

    .gv-icon-164:before {
        content: "\f104";
    }

    .title-shortcode {
        margin-top: 20px;
        transform: translateY(-35px);
    }
}

.more-link a {
    background-color: $ssolMainBlue;
    padding: 5px 20px;
    color: white !important;
    border-radius: 8px;
    float: right;
    font-weight: bold;

    &:hover {
        background-color: $ssolLightGreen;
    }
}